<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PlaygroundSuite" verbose="1" group-by-instances="true" >
    <test name="ParallelInstances" parallel="instances" group-by-instances="true">
        <groups>
            <run>
                <include name="parallelInstances"/>
            </run>
        </groups>
    </test>
    <test name="ParallelClasses" parallel="classes">
        <groups>
            <run>
                <include name="parallelClasses"/>
            </run>
        </groups>
    </test>
    <packages>
        <package name="testng"/>
    </packages>
</suite>
